@media (max-width:575.99px) {
    /* =============navbar section=============== */
    .navbar{
        
    }
    .navbar-collapse {
        /* height: 100vh; */
        transition: all linear .3s;
    }
    .navbar .navbar-brand{
        padding: 0;
    }
    .navbar-toggler{
        border: 0;
    }
    .navbar-toggler .bar{
        display: none;
    }
    .navbar-toggler .cross{
        display: block;
    }
    .navbar-toggler.collapsed .bar{
        display: block;
    }
    .navbar-toggler.collapsed .cross{
        display: none;
    }
    .navbar-toggler:focus{
        outline: 0;
        box-shadow: none;
    }
    .navbar-toggler i{
        z-index: 800;
        color: #ff014f;
        font-size: 20px;
        position: relative;
        transition: 0.5s;
        top: 2px;
    }
    /* =============Home section============ */
    #home{
        /* padding: 50px 0; */
    }
    .home .home_content h1 {
        font-size: 32px;
        line-height: 40px;
    }
    .home .home_content .animated {
        width: 100%;
        /* height: 40px; */
    }
    .home .home_content .animated h2 span {
        font-size: 26px;
        font-weight: 500;
        line-height: 1.5;
    }
    .home .home_content p {
        margin-bottom: 40px;
        font-size: 16px;
      }
      /* ===============service section============ */
    .section_header {
        text-align: center;
    }
    .section_header h2 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        color: #3c3e41;
        text-transform: capitalize;
    }
    #service .card {
        padding: 20px;
    }
    /* ===============resume section================ */
    .education .education_section .education_wrapper .education_item {
        height: auto;
    }
    .education .education_section .title {
        font-size: 26px;
        font-weight: 500;
        line-height: 1.2;
    }
    .education .education_section .education_wrapper .education_item h3 {
        font-size: 26px;
        line-height: 1.2;
    }
    /* ============contact section============== */
    .contact-about-area ,.contact form{
        padding: 15px;
    }
    .contact input {
        height: 45px;
      }
    .back_to_top {
        bottom: 30px;
        right: 20px;
        z-index: 9999;
        display: flex;
        justify-content: center;
        opacity: 0;
        box-shadow: none;
        transition: all linear .3s;
      }
      .back_to_top:hover{
        background: none;
        color: #ff014f;
      }
}
@media (min-width:576px) and (max-width:767.99px) {
     /* =============navbar section=============== */
     .navbar .navbar-brand{
        padding: 0;
    }
    .navbar-toggler{
        border: 0;
    }
    .navbar-toggler .bar{
        display: none;
    }
    .navbar-toggler .cross{
        display: block;
    }
    .navbar-toggler.collapsed .bar{
        display: block;
    }
    .navbar-toggler.collapsed .cross{
        display: none;
    }
    .navbar-toggler:focus{
        outline: 0;
        box-shadow: none;
    }
    .navbar-toggler i{
        z-index: 800;
        color: #ff014f;
        font-size: 20px;
        position: relative;
        transition: 0.5s;
        top: 2px;
    }
    /* =============Home section============ */
    #home{
        /* padding: 50px 0; */
    }
    .home .home_content h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .home .home_content .animated {
        width: 100%;
        height: 60px;
    }
    .home .home_content .animated h2 span {
        font-size: 26px;
        font-weight: 500;
        line-height: 1.5;
    }
    .home .home_content p {
        margin-bottom: 40px;
        font-size: 16px;
      }
      .back_to_top {
        bottom: 30px;
        right: 20px;
        z-index: 9999;
        display: flex;
        justify-content: center;
        opacity: 0;
        box-shadow: none;
        transition: all linear .3s;
      }
      .back_to_top:hover{
        background: none;
        color: #ff014f;
      }
}
@media (min-width:768px) and (max-width:991.99px) {
    /* =============navbar section=============== */
    .navbar .navbar-brand{
        padding: 0;
    }
    .navbar-toggler{
        border: 0;
    }
    .navbar-toggler .bar{
        display: none;
    }
    .navbar-toggler .cross{
        display: block;
    }
    .navbar-toggler.collapsed .bar{
        display: block;
    }
    .navbar-toggler.collapsed .cross{
        display: none;
    }
    .navbar-toggler:focus{
        outline: 0;
        box-shadow: none;
    }
    .navbar-toggler i{
        z-index: 800;
        color: #ff014f;
        font-size: 20px;
        position: relative;
        transition: 0.5s;
        top: 2px;
    }
    /* =============Home section============ */
    #home{
        /* padding: 50px 0; */
    }
    .home .home_content {
        padding-top: 20%;
      }
    .home .home_content h1 {
        font-size: 50px;
        line-height: 60px;
    }
    .home .home_content .animated {
        width: 100%;
        height: 60px;
    }
    .home .home_content .animated h2 span {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.5;
    }
    .home .home_content p {
        margin-bottom: 40px;
        font-size: 16px;
      }
        /* ===============service section============ */
   
    .section_header h2 {
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        color: #3c3e41;
        text-transform: capitalize;
    }
    #service .card {
        padding: 20px;
    }
    /* =================portfolio section============== */
    .portfolio .card-body{
        padding-bottom: 0;
    }
    .back_to_top {
        bottom: 30px;
        right: 10px;
      }
      /* .back_to_top:hover{
        background: none;
        color: #ff014f;
      } */
}