*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li,ul,menu{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
}
body {
    background-color: #ECF0F3;
}

/* ===============Navbar section============ */
nav{
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
} 
.navbar .navbar-brand{
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
    /*  */
}
.nav-link{
    color: #3c3e41;
    transition: all linear 0.3s;
}
.nav-link:hover{
    color: #ff014f;
}