@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
li,ul,menu{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: .8;
}
body {
    background-color: #ECF0F3;
}
.section_header{
    padding: 30px 0;
}
.section_header span{
    color: #f9004d;
    letter-spacing: 2px;
    display: block;
    line-height: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.5;
}
.section_header h2{
    margin-top: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: #3c3e41;
    text-transform: capitalize;
}

/* ===============Navbar section============ */
nav{
    z-index: 99999999;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
    background: #ECF0F3;
} 
.navbar .navbar-brand{
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0;
    color:#ff014f ;
    /*  */
}
.nav-link{
    color: #3c3e41;
    transition: all linear 0.3s;
}
.nav-link:hover{
    color: #ff014f;
}

/* ===============Home section============== */
.home {
    position: relative;
    padding-bottom: 30px;
  }
  .home .home_content {
    padding-top: 30%;
    align-items: center;
    /* color: #ededed; */
  }
  .home .home_content h1 {
    font-size: 64px;
    font-weight: 700;
  }
  .home .home_content h1 span,.home .home_content .animated h2 {
    color: #ff014f;
  }
  .home .home_content .animated {
    /* width: 520px; */
    height: 80px;
    padding: 0 0 20px 0;
  }
  .home .home_content .animated h2 span {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #3c3e41;
  }
  .home .home_content p {
    font-size: 18px;
    line-height: 30px;
    color: #3c3e41;
    opacity: .9;
  }
  .home .home_content .btn_wrapper {
    display: flex;
    -moz-column-gap: 30px;
         column-gap: 30px;
    padding: 20px 0;
  }
  .home .home_content .btn_wrapper .btn {
    display: inline-block;
    /* border: 2px solid transparent; */
    transition: all linear 0.3s;
  }
  .home .home_content .btn_wrapper .btn:hover {
    background: linear-gradient(135deg, #6a67ce, transparent) #fc636b;
  }
  .home .home_content .social,#contact .social_area .social {
    display: flex;
    column-gap: 20px;
  }
  .home .home_content .social a,
  #contact .social_area .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    border-radius: 10px;
    transition: all linear 0.3s;
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  }
  .home .home_content .social a:hover,
  #contact .social_area .social a:hover {
    color: #ffffff;
    background: linear-gradient(135deg, #6a67ce, transparent) #fc636b;
  }
  .home .home_img {
    position: absolute;
    height: 520px;
    width: 300px;
    overflow: hidden;
    bottom: 0;
  }
  .home .home_img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


/* =============Feature section========= */
#service{
    padding: 50px 0;
}

#service .card{
    padding: 40px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    transition: all linear .3s;
}
#service .card:hover{
    /* color: #ffffff; */
    background: linear-gradient(135deg, #6a67ce, transparent) #fc636b;
}
#service .card a{
    color: #3c3e41;
}

#service .card .card-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    color: #1e2125;
}
#service .card-text {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 22px;
    color: #3c3e41;
}
#service .card:hover .card-title,#service .card:hover .card-text{
  color: #ffffff;
}

/* ===========Portfolio section=========== */
.portfolio {
  padding: 0 0 20px;
}
.portfolio .card{
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  transition: all linear .3s;
  height: 450px;
}


.portfolio .card_image{
  width: 90%;
  height: 300px;
  border-radius: 10px;
  background: #3c3e41;
  margin: 20px auto;
  /* overflow: hidden; */
  border: 2px solid #3c3e41;
}
.portfolio .card_image img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  /* object-fit: cover; */
}
.portfolio .card-title{
  color: #3c3e41;
  line-height: 1.2;
}
.portfolio .card-text{
  padding: 10px;
  line-height: 1.5;
}

/* ========Education section============ */
.education {
  /* padding: 50px 0; */
}
.education .education_header {
  text-align: center;
  color: #3c3e41;
}
.education .education_header h2 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
  padding-bottom: 30px;
}
.education .education_section {
  color: #3c3e41;
}
.education .education_section .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5;
  padding: 20px 0;
  color: #3c3e41;
}
.education .education_section .education_wrapper .education_item {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  padding: 20px;
  border: 2px solid #ff014f;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 250px;
  transition: all linear 0.3s;
}
.education .education_section .education_wrapper .education_item:hover {
  background: linear-gradient(135deg, #6a67ce, transparent) #fc636b;
  color: #ffffff;
  border: 2px solid transparent;
}
.education .education_section .education_wrapper .education_item .session {
  font-size: 24px;
  color: #ff014f;
  padding-bottom: 8px;
}
.education .education_section .education_wrapper .education_item:hover .session {
  color: #ffffff;
}
.education .education_section .education_wrapper .education_item .session i {
  padding-right: 8px;
}
.education .education_section .education_wrapper .education_item h3 {
  font-size: 30px;
  line-height: 1.5;
}
.education .education_section .education_wrapper .education_item p {
  font-size: 18px;
  line-height: 1.5;
}
/* ========skill section============ */
.progress-bar {
  background-color: #6a67ce;
}
.progress{
  background: rgb(252, 99, 107);
  background: rgba(252, 99, 107, 0.45);
}
.progress-bar-striped {
  background-image: linear-gradient(45deg,rgba(252, 99, 107, 0.45) 25%,transparent 25%,transparent 50%,rgba(252, 99, 107, 0.45) 50%,rgba(252, 99, 107, 0.45) 75%,transparent 75%,transparent);
}

/* ===========Contact section========== */
.contact .section_header{
  margin-bottom: 20px;
}
.contact-about-area{
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding: 30px;
    border-radius: 20px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
}
.contact-about-area .thumbnail {
  height: 245px;
  width: 100%;
  margin-bottom: 28px;
  overflow: hidden;
  border-radius: 10px;
  background: #3c3e41;
}
.contact-about-area .thumbnail img{
  height: 100%;
  width: 100%;
  object-fit:scale-down;
}
.contact-about-area .title-area {
  margin-bottom: 15px;
}
.contact-about-area .title-area .title {
  font-size: 29px;
  line-height: 44px;
  color: var(--color-light);
  margin-bottom: 9px;
}
.contact-about-area .title-area span {
  color: #3c3e41;
  opacity: 0.9;
}
.contact-about-area .description {
  margin-bottom: 40px;
}
.contact-about-area .description p {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-body);
  font-family: var(--font-primary);
  line-height: 30px;
  display: inline-block;
  margin-bottom: 20px;
}
.contact-about-area .description span,
.contact-about-area .description span a{
  color: #3c3e41;
}
.contact-about-area .social_area .name{
  font-size: 14px;  
  color: #1e2a25;
  font-weight: 500;
  margin-bottom: 8px;
}
.contact-about-area .social_area{
  /* padding-bottom: 26px; */
}
.contact form{
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  padding: 30px;
  border-radius: 20px;
  margin-top: 0;
}
.contact input {
  color: #3c3e41;
  border: 2px solid transparent;
  outline: none;
  height: 55px;
}
.contact input.form-control:focus {
  border: 2px solid #ff014f;
  color: #3c3e41;
  box-shadow: 0 0 0 0;
}
.contact textarea {
  padding: 10px;
  outline: none;
  border-radius: 10px;
  border: 2px solid transparent;
}
 .contact-form-wrapper textarea {
  border: 2px solid #dadada;
  color: #3c3e41;
  box-shadow: none;
  width: 100% !important;
}
.contact-form-wrapper textarea {
  padding: 10px 15px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  width: 100%;
}
.contact textarea.form-control:focus {
  border: 2px solid #ff014f;
  box-shadow: 0 0 0 0;
}
.contact .btn{
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  color: #3c3e41;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  height: 55px;
}
.contact .btn:hover{
  background: linear-gradient(135deg, #6a67ce, transparent) #fc636b;
  color: #ffffff;
}

.back_to_top {
  bottom: 80px;
  font-weight: 700;
  font-size: 18px;
  position: fixed;
  right: 30px;
  color: #ff014f;
  width: 50px;
  height: 50px;
  z-index: 99;
  overflow: hidden;
  padding: 0;
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
  transition: all linear .3s;
}
.back_to_top:hover{
  background: linear-gradient(135deg, #6a67ce, transparent) #fc636b;
  color: #ffffff
}
.back_to_top i{
  color: var(--color-btn-text);
  
}
.back_to_top.show{
  opacity: 1;
}